@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cars Application </h1>
    <p class="lead">Bienvenue a l'application de gestion des voitures.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestion des proprietaires </h2>
        <p>
           Ajouter , supprimer ,editer les proprietaires. 
        </p>
        <p><a class="btn btn-default" href="http://localhost:65092/Proprietaires/Index">Acceder</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion des  voitures</h2>
        <p>Ajouter , supprimer ,editer les proprietaires.</p>
        <p><a class="btn btn-default" href="http://localhost:65092/Voitures/Index">Acceder</a></p>
    </div>
<!--   <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>--> 
</div>